.homepage-container {
  width: auto;
  height: 90vh;
}

.data-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.find-mate-image {
  height: 65vh;
  position: absolute;
  left: 0;
  bottom: 0;
  &:hover {
    cursor: pointer;
  }
}
